
<div class="jumbotron">
    <h1 style="color:blue;">PRODUCTOS </h1>
    <br>


<form method="post" action="/productos">
<label for="">
<input type="text" name="nombre"  placeholder="tu producto">
</label>
<label>
<input type="text" name="precio"  placeholder="tu precio">

</label>
<label>
<input type="text" name="thumbail"  placeholder="link">
<button> Ingresa</button>
</label>

</form>
</div>